<footer class="container mw-100">
    <ul class="lista-footer">
      <li>
        <a class='text-black' href="">Términos y Condiciones</a>
      </li>
      <li>
        <a class='text-black' href="">Política de Privacidad Corporativa</a>
      </li>
      <li>
        <a class='text-black' href="">Polítiva de Privacidad de México</a>
      </li> 
      <li>
          <a class='text-black' href="">Gestionar cookies</a>
      </li>
    </ul>
    <p class='text-black'>© 2022 BlackRock, Inc. Todos los derechos reservados.</p> 
</footer>
