.contenedor {
    font-family: Noto Sans;
}

h4 {
    font-weight: bold;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFCE00;
    height: 60px;
    
}

.lineofdata{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 10px;
}

.logo{
max-width: 15vw;
max-height: auto;
}

.x{
    max-width: 2.3vw;
    max-height: auto;
    cursor: pointer;
}

.edit{
    max-width: 1.5vw;
}

input{
    border: none;

}

.button-submit {
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: bold;
    width: 346px;
    height: 40px;
  }
  .button-submit:hover {
    background-color: rgba(89, 86, 86, 0.782);
  }
  